@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --col-fore: #000000;
  --col-back: #ffffff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}