@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --col-fore: #000000;
  --col-back: #ffffff;
}

.dark {
  --col-fore: #94a3b8;
  --col-back: #111827;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}