.git/

.DS_Store

.vscode/

*.drawio.bkp

__pycache__/
.ipynb_checkpoints/
pyrightconfig.json

.cache/
.pytest_cache/
build/

**/mocks/**

*/tests/Testing

prerolls/*.wav

recordings/

influx-db/data/
influx-db/config/

yamnet-classification.tflite
