.git/

.DS_Store

.vscode/

*.drawio.bkp

__pycache__/
.ipynb_checkpoints/
.python-version
pyrightconfig.json

.cache/
build/

*/tests/Testing

prerolls/*.wav

recordings/

yamnet-classification.tflite
