.git/

.DS_Store

*.drawio.bkp

__pycache__/
.ipynb_checkpoints/
pyrightconfig.json

.cache/
.pytest_cache/
build/

**/mocks/**

*/tests/Testing

prerolls/*.wav

influx-db/data/
influx-db/config/

yamnet-classification.tflite
