# TODO: Do not allow anonymous access to the NFS share https://github.com/eulersson/taconez/issues/92
/mnt/nfs/taconez {{ allowed_hosts }}(rw,all_squash,insecure,no_subtree_check,anonuid=1000,anongid=1000)
