[Unit]
Description=Influx DB
BindsTo=docker.service
After=docker.service

[Service]
Type=simple
ExecStart=/home/anesowa/influx/service/exec_start.sh
ExecStop=/home/anesowa/influx/service/exec_stop.sh

[Install]
WantedBy=multi-user.target
