[Unit]
Description=Anesowa Playback Distributor
BindsTo=docker.service
After=docker.service

[Service]
Type=exec
Restart=always
Environment=ANESOWA_VERSION={{ project_version }}
ExecStart={{ services_root_remote }}/playback-distributor/exec-start.sh
ExecStop={{ services_root_remote }}/playback-distributor/exec-stop.sh
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
